<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="-/api/">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode promoteServerVars="AUTH_USER,AUTH_TYPE,LOGON_USER" enableXFF="true" />
   <httpErrors existingResponse="PassThrough" /> 
  </system.webServer>

</configuration>
